<html ng-app="app">
<head>
    <title>Validation CSS Classes</title>
    <script src="content/js/angular.js"></script>
    <script src="content/js/angular-messages.js"></script>
    <style>.model {background: #f9f9f9;padding: 25px;margin: 20px 0 0;border: 1px solid #e5e5e5;}</style>
    <style>
        form .ng-dirty.ng-invalid{
            border:1px solid red;
        }
        form .ng-dirty .ng-valid{
            border:1px solid green;
        }

    </style>
</head>
<body>

<form
        novalidate
        name="register"
        ng-controller="CheckoutController as checkout"
        ng-submit="checkout.onSubmit();">

    <h4>Checkout</h4>
    <p>Fill in your details to complete your order</p>

    <label>
        Username
        <input
                type="text"
                name="username"
                placeholder="Username"
                minlength="3"
                ng-model="checkout.details.username"
                required="required">
    </label>
<div ng-if="register.username.$touched"
ng-messages="register.username.$error"
>
    <div ng-message="required">
        This field is required.
    </div>
    <div ng-message="minlength">
        Minimum of 2 characters
    </div>
</div>
    <label>
        Password
        <input
                placeholder="Password"
                type="password"
                name="password"
                ng-model="checkout.details.password"
                required="required">
    </label>

    <label>
        Coupon
        <input
                placeholder="Coupon"
                type="text"
                name="coupon"
                ng-model="checkout.details.coupon"
                required="required"
                coupon-format>
    </label>
    <div ng-if="register.coupon.$touched"
         ng-messages="register.coupon.$error"
    >
        <div ng-message="required">
            This field is required.
        </div>
        <div ng-message="coupon">
            Invalid coupon.
            Must be characters, followed by an underscore and 2 digit

        </div>
    </div>
    <button type="submit">
        Checkout
    </button>

    <div class="model">
        Model value:
        <pre>{{ checkout.details | json }}</pre>
    </div>


</form>




<script src="content/js/app.js"></script>

<script src="content/js/controller/checkout.controller.js"></script>
<script src="content/js/directive/couponFormat.directive.js"></script>
</body>
</html>