<html ng-app="app">
<head>
    <title>My Angular app</title>
    <script src="content/js/angular.js"></script>
    <style>
    div[contenteditable] {
        background: rgba(0, 0, 0, 0.1);
        padding: 10px 15px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    </style>
</head>
<body>

<div ng-controller="HtmlController as html">

    <div contenteditable html-editor ng-model="html.content ">Some</div>
    <p>{{html.content}}</p>

    <div>
        <a href = "" ng-click="html.reset()">Reset</a>
    </div>
</div>

<script src="content/js/app.js"></script>
<script src="content/js/directives/HTMLEditor.js"></script>
<script src="content/js/controller/HTMLController.js"></script>
</body>
</html>